Source: pi-bluetooth
Section: misc
Priority: optional
Maintainer: Serge Schneider <serge@raspberrypi.org>
Build-Depends: debhelper (>= 9.20160709)
Standards-Version: 4.3.0
Homepage: https://github.com/RPi-Distro/pi-bluetooth

Package: pi-bluetooth
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bluez, bluez-firmware, raspberrypi-sys-mods
Description: Raspberry Pi 3 bluetooth
 Loads BCM43430A1 firmware on boot
